.container{
  margin: 0 auto;
	max-width: 1174px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.card-weather, .search-weather{
  flex: 0 1 50%;
}

.card-weather-title{
  display: flex;
  /* justify-content: space-between; */
  height: 50px;
}
.card-weather-title img{
  margin-left: 40px;
  display: block;
  cursor: pointer;
}
img:hover{
  filter: invert(100%);
  transition-duration: 500ms;
  background-color: #b74f99;

}

.hover-img{
  filter: invert(100%);
  transition-duration: 500ms;
  background-color: #b74f99;
}

.Control{
  display: flex;
  align-items:flex-end;
  justify-content: center;
  width: 100%;
}

.Control button{
  height: 50px;
}

.Control input{
  width: 500px;
}