.container{
  margin: 0 auto;
	max-width: 1174px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.card-weather, .search-weather{
  flex: 0 1 50%;
}
.card-weather{
  border: 1px solid black;
  padding: 40px;
  margin-right: 60px;
  border-radius: 40px;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  min-height: 470px;
  padding-top: 50px;
}
.card-weather-title{
  display: flex;
}
.card-weather-title img{
  display: block;
  cursor: pointer;
  width: 50%;
  border: 1px solid black;
  border-radius: 50%;
  
}

.card-weather-img-tooltip{
  position: absolute;
  top: 20px;
  right: -10px;
}

.card-weather-title img:hover{
  filter: invert(100%);
  transition-duration: 500ms;
  background-color: #b74f99;
}


.hover-img{
  filter: invert(100%);
  transition-duration: 500ms;
  background-color: #b74f99;
}

.Control{
  display: flex;
  align-items:flex-end;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.Control-container{
  margin-bottom: 40px;
}

.Control button{
  height: 50px;
}

.Control input{
  width: 500px;
}

.card-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}
.card-message{
  margin-top: 30px;
}